<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>Register!</h1>
  </div>
  <form action="/register" method="POST">
    <label for="email">Enter an Email: </label>
    <input type="email" name="email">
    <label for="password">Enter a Password: </label>
    <input type="password" name="password">
    <button type="submit">Register</button>
  </form>
</body>
</html>